@import url(http://fonts.googleapis.com/css?family=Stint+Ultra+Expanded);

body {
	background-image: url(../img/pizza1.jpg);
	background-attachment: fixed;
	font-family: 'Stint Ultra Expanded', sans-serif;
	font-size: 18px;
}

.container {
}

.navbar {
	background-color: #5D2F8C;
	clear: both;
}

/* .navbar li .active {
	background-color: #F0C008;
} */

.page-header img {
	float: left;
	width: 300px;
	height: 100px;
	margin-top: 40px;
}

.page-header {
	color: #F0C008;
}

.hours {
	float: right;
	margin-top: 40px;
}

.description {
	float: left;
	margin-top: 20px;
	margin-left: 25px;
	font-size: 90%;
}

.order {
	width: 30%;
	float: right;
	margin-left: 10px;
	margin-bottom: 10px;
}

address p,
.row,
section,
.footer p,
.hyperlink:hover {
	color: #FFF;
}

.container iframe {
	float: right;
	margin-bottom: 100px;
}

p {
	margin: 0px;
}

.col-md-8 {
	margin-bottom: 50px;
}

.footer {
	clear: both;
	border-style:solid;
	border-top:thin double #000;
	font-style: italic;
	font-size: 70%;
	background-color: #5D2F8C;
	position: fixed;
	bottom: 0px;
	left: 50px;
	width: 92%;
}

.hyperlink {
	text-decoration: none;
	color: #FFF;
}

