@import url(http://fonts.googleapis.com/css?family=Stint+Ultra+Expanded);

body {
	background-image: url(../img/pizza1.jpg);
	background-repeat: repeat;
	font-family: 'Stint Ultra Expanded', sans-serif;
	font-size: 18px;
}

.container {
}

.navbar {
	background-color: #5D2F8C;
	clear: both;
}

.active {
	background-color: #F0C008;
}

header img {
	float: left;
	width: 300px;
	height: 100px;

}

.hours {
	float: right;
	clear: both;
}

.description {
	float: left;
	margin: 0 auto;
	
	margin-left: 20px;
}

.order {
	width: 30%;
	float: right;
	margin-left: 10px;
	margin-bottom: 10px;
}

address p {
	color: #FFF;
}

iframe {
	float: right;
	margin-bottom: 100px;
}

.footer {
	clear: both;
	border-style:solid;
	border-top:thin double #000;
	font-style: italic;
	font-size: 70%;
	padding: 10px;
	background-color: #5D2F8C;
}

.footer p {
	color: #FFF;
}

.hyperlink {
	text-decoration: none;
	color: #FFF;
}